<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tian.mapper.HospitalizationInfoMapper">
  <resultMap id="BaseResultMap" type="com.tian.entity.HospitalizationInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="patient_register_id" jdbcType="INTEGER" property="patientRegisterId" />
    <result column="doctor_id" jdbcType="INTEGER" property="doctorId" />
    <result column="bed_info_id" jdbcType="INTEGER" property="bedInfoId" />
    <result column="bond" jdbcType="INTEGER" property="bond" />
    <result column="operation_user_id" jdbcType="INTEGER" property="operationUserId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="patient_address" jdbcType="VARCHAR" property="patientAddress" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hospitalization_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tian.entity.HospitalizationInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hospitalization_info (patient_register_id, doctor_id, bed_info_id, 
      bond, operation_user_id, `status`, 
      create_time, update_time, patient_address
      )
    values (#{patientRegisterId,jdbcType=INTEGER}, #{doctorId,jdbcType=INTEGER}, #{bedInfoId,jdbcType=INTEGER}, 
      #{bond,jdbcType=INTEGER}, #{operationUserId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{patientAddress,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.tian.entity.HospitalizationInfo">
    update hospitalization_info
    set patient_register_id = #{patientRegisterId,jdbcType=INTEGER},
      doctor_id = #{doctorId,jdbcType=INTEGER},
      bed_info_id = #{bedInfoId,jdbcType=INTEGER},
      bond = #{bond,jdbcType=INTEGER},
      operation_user_id = #{operationUserId,jdbcType=INTEGER},
      `status` = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      patient_address = #{patientAddress,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, patient_register_id, doctor_id, bed_info_id, bond, operation_user_id, 
    `status`, create_time, update_time, patient_address
    from hospitalization_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, patient_register_id, doctor_id, bed_info_id, bond, operation_user_id, 
    `status`, create_time, update_time, patient_address
    from hospitalization_info
  </select>
</mapper>