<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tian.mapper.ProjectBigTypeMapper">
    <resultMap id="BaseResultMap" type="com.tian.entity.ProjectBigType">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="project_big_type_name" property="projectBigTypeName" jdbcType="VARCHAR"/>
        <result column="operation_user_id" property="operationUserId" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from project_big_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.tian.entity.ProjectBigType">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into project_big_type (project_big_type_name, operation_user_id, `status`, create_time, update_time )
        values (#{projectBigTypeName,jdbcType=VARCHAR}, #{operationUserId,jdbcType=INTEGER},
        #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.tian.entity.ProjectBigType">
    update project_big_type
    set project_big_type_name = #{projectBigTypeName,jdbcType=VARCHAR},
      operation_user_id = #{operationUserId,jdbcType=INTEGER},
      `status` = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select id, project_big_type_name, operation_user_id, `status`, create_time, update_time
    from project_big_type
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, project_big_type_name, operation_user_id, `status`, create_time, update_time
        from project_big_type
        where `status` = 0
        <if test="projectBigTypeName!=null">
            AND project_big_type_name = #{projectBigTypeName,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="count" resultType="java.lang.Integer">
        select count(1)
        from project_big_type
        where `status` = 0
        <if test="projectBigTypeName!=null">
            AND project_big_type_name = #{projectBigTypeName,jdbcType=VARCHAR}
        </if>
    </select>
</mapper>